<!-- templates/index.html -->
{% extends 'base.html' %}

{% block title %}MFCC Velogames{% endblock %}

{% block content %}

<!--Upcoming races table calendar -->
<div class="row">
    <div class="col-12 col-lg-8 mx-auto">
        <div class="table-responsive">
            <table class="table table-bordered table-hover mt-2 w-auto mx-auto">
                <caption style="caption-side: top; font-size: 1.4rem; margin-bottom: 10px;" class="text-center text-dark">
                    Upcoming races
                </caption>   
                <thead class="table-primary text-center small">
                    <tr>
                        {% for column in columns[2:] %}
                            <th class="text-nowrap">{{ column }}</th>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody class="small">
                    {% for row in data %}
                        <tr data-url="{{ url_for('main.stage') }}?stage_id={{ row['stage_id'] }}" 
                            onclick="redirectToLink(this)" 
                            class="{% if row['warning'] == 1 %}row-warning{% endif %}" 
                            style="cursor: pointer;">
                            {% for cell in row[2:] %}
                                <td class="{% if cell is number %}numeric{% endif %} text-nowrap" 
                                    style="text-align: {% if cell is number %}right{% else %}left{% endif %};">
                                    {{ "{:,.0f}".format(cell) if cell is number else cell }}
                                </td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

    <!--V1: Tables for current stage results + GC after current stage -->
    <div class="row justify-content-center g-4">
        
        <div class="col-12 col-xl-auto">
            <div class="table-responsive">
                <table class="table table-bordered table-hover w-auto mx-auto">
                    <caption style="caption-side: top; font-size: 1.2rem; margin-bottom: 10px;" class="text-center text-dark">
                        This season teams
                    </caption>    
                    <thead class="table-primary small">
                        <tr>
                            {% for column in columns_2[1:] %}
                                <th class="text-nowrap fw-normal">{{ column }}</th>
                            {% endfor %}
                        </tr>
                    </thead>
                    <tbody class="small">
                        {% for row in data_2 %}
                            {# We use row[0] for the link, but row[1:] for the display #}
                            <tr onclick="window.location='/team-history?team_code={{ row[0] }}';" 
                                style="cursor: pointer;" 
                                class="table-hover-custom">
                                {% for cell in row[1:] %}
                                    <td class="{% if cell is number %}numeric{% endif %} text-nowrap" 
                                        style="text-align: {% if cell is number %}right{% else %}left{% endif %};">
                                        {{ "{:,.0f}".format(cell) if cell is number else cell }}
                                    </td>
                                {% endfor %}
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    
        <div class="col-12 col-xl-auto">
            <div class="table-responsive">
                <table class="table table-bordered table-hover w-auto mx-auto">
                    <caption style="caption-side: top; font-size: 1.2rem; margin-bottom: 10px;" class="text-center text-dark">
                        This season races
                    </caption>    
                    <thead class="table-primary small">
                        <tr>
                            {% for column in columns_3 %}
                                <th class="text-nowrap fw-normal">{{ column }}</th>
                            {% endfor %}
                        </tr>
                    </thead>
                    <tbody class="small">
                        {% for row in data_3 %}
                            <tr>
                                {% for cell in row %}
                                    <td class="{% if cell is number %}numeric{% endif %} text-nowrap" 
                                        style="text-align: {% if cell is number %}right{% else %}left{% endif %};">
                                        {{ "{:,.0f}".format(cell) if cell is number else cell }}
                                    </td>
                                {% endfor %}
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>  

    <!-- Scatter plot here: -->
    <div class="container">
        <div class="row justify-content-center">
          <div class="col-10 col-md-11">
            <canvas id="scatterChart" style="width: 100%; height: 500px;"></canvas>
          </div>
        </div>
    </div>

    <!-- Function: Scatter plot for Riders --> 
    <script>
        const chartData = {{ chart_data|safe }};

        const ctx = document.getElementById('scatterChart').getContext('2d');
        new Chart(ctx, {
            type: 'scatter',
            data: {
                datasets: [{
                    label: 'Cost vs Points',
                    data: chartData,
                    backgroundColor: 'rgba(255, 99, 132, 0.6)',
                    pointRadius: 7,
                    pointHoeverRadius: 10,
                    borderColor: 'rgba(255, 99, 132, 1)'
                }]
            },
            options: {
                plugins: {
                    tooltip: {
                        callbacks: {
                            label: function(context) {
                                const point = context.raw;
                                return `${point.label}: (${point.x}, ${point.y})`;
                            }
                        }
                    }
                },
                scales: {
                    x: {
                        title: { display: true, text: 'Cost' }
                    },
                    y: {
                        title: { display: true, text: 'Points' }
                    }
                }
            }
        });
    </script>

    <!-- Function: Redirect to link -->
    <script>
        function redirectToLink(row) {
            window.location.href = row.getAttribute("data-url");
        }
    </script>
{% endblock %}

<!-- -->