<!-- templates/report.html -->
{% extends 'base.html' %}

{% block title %}MFCC Velogames{% endblock %}

{% block content %}
<script>
    function redirectToLink(row) {
        window.location.href = row.getAttribute("data-url");
    }
</script>

<!-- <div class="container mt-5"> -->
<h3 class="mb-1">{{ title }}</h3>

<h3 class="mb-1">{{ subtitle }}</h3>

<div style="display: flex; justify-content: center; gap: 10px; width: 100%; padding: 10px;">
    <!-- First Table (Columns 1 to 4) -->
    <table class="table table-bordered table-hover mt-2" style="width: auto; table-layout: fixed;">
        <thead class="table-primary">
            <tr>
                {% for column in columns %}
                    <th>{{ column }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for row in data %}
                <tr>
                
                    {% for cell in row %}
                        <td class="{% if cell is number %}numeric{% endif %}" style="padding: 6px; text-align: {% if cell is number %}right{% else %}left{% endif %};">
                            {{ "{:,.0f}".format(cell) if cell is number else cell }}
                        </td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}
