<!-- templates/race.html -->
{% extends 'base.html' %}

{% block title %}MFCC Velogames{% endblock %}

{% block content %}
<script>
    function redirectToLink(row) {
        window.location.href = row.getAttribute("data-url");
    }
</script>

<div class="text-center mb-4">
    <h1 class="h3 mb-3">{{ title }}</h1>
    
    <div class="d-flex justify-content-center">
        <ul class="nav nav-underline small">
            <li class="nav-item">
                <a class="nav-link {% if request.endpoint == 'main.race' %}active link-dark fw-bold{% else %}link-secondary{% endif %}" 
                   href="{{ url_for('main.race', race_id=request.args.get('race_id')) }}">Stages & Results</a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% if request.endpoint == 'main.riders' %}active link-dark fw-bold{% else %}link-secondary{% endif %}" 
                   href="{{ url_for('main.riders', race_id=request.args.get('race_id')) }}">Rider Stats</a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% if request.endpoint == 'main.teams' %}active link-dark fw-bold{% else %}link-secondary{% endif %}" 
                   href="{{ url_for('main.teams', race_id=request.args.get('race_id')) }}">Team Stats</a>
            </li>
        </ul>
    </div>
</div>

<div class="row">
    <div class="col-12 col-lg-8 mx-auto">
        <div class="table-responsive">
            <table class="table table-bordered table-hover mt-2 w-auto mx-auto">
                <thead class="table-primary text-center small">
                    <tr>
                        {% for column in columns[2:] %}
                            <th class="text-nowrap">{{ column }}</th>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody class="small">
                    {% for row in data %}
                        <tr data-url="{{ url_for('main.team') }}?team_id={{ row['team_id'] }}" 
                            onclick="redirectToLink(this)" 
                            class="{% if row['warning'] == 1 %}table-warning{% endif %}" 
                            style="cursor: pointer;">
                            {% for cell in row[2:] %}
                                <td class="{% if cell is number %}numeric{% endif %} text-nowrap" 
                                    style="padding: 8px 12px; text-align: {% if cell is number %}right{% else %}left{% endif %};">
                                    {{ "{:,.0f}".format(cell) if cell is number else cell }}
                                </td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

<canvas id="chart"></canvas>

<script>
    const chartData = {
        labels: {{ labels | tojson | safe }},
        datasets: {{ datasets | tojson | safe }}
    };

    const ctx = document.getElementById('chart').getContext('2d');
    const chart = new Chart(ctx, {
        type: 'line',
        data: chartData,
        options: {
            responsive: true,
            plugins: {
                legend: {
                    position: 'top',
                },
                tooltip: {
                    mode: 'index',
                    intersect: false,
                },
            },
            scales: {
                x: {
                    title: {
                        display: true,
                        text: 'Stages',
                    },
                    ticks: {
                        // Rotate labels if they are too long to fit
                        autoSkip: true,
                        maxRotation: 90,  // Allow maximum rotation of 90 degrees
                        minRotation: 45,  // Allow minimum rotation of 45 degrees
                    },
                    // Wrap text if it's too long
                    callback: function(value) {
                        const maxLength = 10; // Define a maximum number of characters per line
                        const wrapped = value.length > maxLength ? value.match(/.{1,10}/g).join("\n") : value;
                        return wrapped;
                    }
                },
                y: {
                    title: {
                        display: true,
                        text: 'Cumulative Points',
                    }
                }
            }
        }
    });
</script>

{% endblock %}
